*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

.announcement{
  background:#d4af37;
  color:black;
  text-align:center;
  padding:8px;
  font-weight:600;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  position:sticky;
  top:0;
  background:#0f172a;
}

.logo{ font-size:20px; font-weight:700; }

.nav-links a{
  color:white;
  text-decoration:none;
  margin-left:25px;
}

.hero{
  text-align:center;
  padding:80px 20px 60px;
}

.hero h1{ font-size:42px; margin-bottom:15px; }

.hero p{ opacity:0.7; margin-bottom:25px; }

.hero button{
  background:#d4af37;
  border:none;
  padding:12px 30px;
  font-weight:600;
  border-radius:30px;
  cursor:pointer;
}

.stats{ margin-top:20px; }

.templates{ padding:60px; }

.templates h2{
  text-align:center;
  margin-bottom:40px;
}

.container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.card{
  background:linear-gradient(145deg,#1e293b,#0f172a);
  border-radius:18px;
  padding:28px;
  text-align:center;
  box-shadow:0 15px 35px rgba(0,0,0,0.4);
}
.card img{ 
    width:100%; 
    height:auto; 
    border-radius:12px; 
    padding:10px;
    margin-bottom:22px;
    box-shadow:0 8px 20px rgba(0,0,0,0.25); 
    }

.card a{
  display:inline-block;
  padding:10px 24px;
  background:linear-gradient(135deg,#d4af37,#facc15);
  color:black;
  border-radius:40px;
  text-decoration:none;
  font-weight:600;
}

.trust-section{
  text-align:center;
  padding:40px;
}

.badges{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
}

.badges span{
  background:#1f2937;
  padding:10px 18px;
  border-radius:30px;
}

.features{
  padding:60px;
  background:#111827;
  text-align:center;
}

.feature-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
}

.feature-box{
  background:#1f2937;
  padding:25px;
  border-radius:12px;
}

footer{
  text-align:center;
  padding:30px;
  opacity:0.6;
}
